@use './../../styles/colors' as *;

.personalContainer {
    background-color: $cream;
}

.personalContainer h1 {
    font-size: 22px;
    font-weight: 400;
    margin-left: 15px;
}

.line {
    height: 1px;
    background-color: $violet;
    margin: 25px 15px 25px 15px;
}

.text {
    margin: 25px 15px 5px 15px;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.personalContainer h3 {
    text-transform: uppercase;
    text-decoration-line: underline;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
}

.personalContainer button {
    background-color: transparent;
}
