@use './../../styles/colors' as *;

.container {
    background-color: $violet;
    text-align: center;
    position: relative;
    min-height: 300px;
    padding: 20px 15px;
}

.experienceContainer {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 10px 10px 10px;
}

.experienceContainer h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.experienceContainer h4 {
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
}

.experienceContainer p {
    padding: 20px;
    font-weight: 300;
}

.container button {
    background-color: transparent;
}

.leftButton {
    position: absolute;
    top: 40%;
    left: 5%;
    cursor: pointer;
}

.rightButton {
    position: absolute;
    top: 40%;
    right: 5%;
    cursor: pointer;
}

.desable {
    cursor: not-allowed;
    opacity: 0.5;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}
