@use './../../styles/colors' as *;

.burguer_container {
    background-color: $violet;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.burguer_header {
    background-color: $violet;
    color: $darkBlue;
    height: 175px;
    font-weight: Bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
}

.burguer_header button {
    background-color: $violet;
    font-size: 24px;
    width: 30px;
    align-self: flex-end;
}

.burguer_header h2 {
    font-size: 25px;
    text-transform: uppercase;
    align-self: end;
    align-self: center;
}

.burguer_list {
    right: 10px;
    text-decoration: none;
    list-style: none;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    gap: 16px;
}

.links {
    font-size: 22px;
    text-decoration: none;
    color: $darkBlue;
}

.links :hover {
    font-weight: Bold;
}

.drawer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    transition: opacity 0.3s ease-in-out,
        transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(100%);
}

.open {
    transform: translateX(0);
}
