@use './../../styles/colors' as *;

.container {
    border: 2px solid $darkBlue;
}

.profileContainer {
    background-color: $cream;
    display: flex;
    justify-content: center;
    border: 2px solid #034459;
    a {
        text-decoration: none;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        color: black;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
