@use './../../styles/colors' as *;

.educationContainer {
    background-color: $greyBlue;
    padding: 10px;
    text-align: center;
    padding: 20px 15px 10px 15px;
}

.educationContainer h3 {
    font-size: 20px;
    font-weight: 400;
}

.educationContainer h4 {
    font-size: 18px;
    font-weight: 400;
}

.educationContainer p {
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
